# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# park ji hye
# \src\pages\publish\approval\_Approval.js
# \src\pages\publish\approval\_ApprovalDetail.js
_ApprovalBtnGroup.js
/user-test
_Approval.js
_ApprovalDetail.js
_ApprovalPop.js
_ApprovalPopDetail.js
_LGHV-UIX-APR-0001-Detail.js
_LGHV-UIX-APR-0001.js
_LGHV-UIX-APR-0002-Detail.js
_LGHV-UIX-APR-0002.js
_LGHV-UIX-APR-0004-Detail.js
_LGHV-UIX-APR-0004.js
_ApprovalPopList.js
_ApprovalDetailContent.js
_LGHV-UIX-SYS-0013.js
_LGHV-UIX-SYS-0012.js
_LGHV-UIX-SYS-0012-UserList.js