# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# park ji hye
# \src\pages\publish\approval\_Approval.js
# \src\pages\publish\approval\_ApprovalDetail.js
# \src\pages\publish\approval\component\_ApprovalBtnGroup.js
/src/pages/publish/user-test
/src/pages/publish/LGHV-UIX-APR/_Approval.js
/src/pages/publish/LGHV-UIX-APR/_ApprovalDetail.js
/src/pages/publish/LGHV-UIX-APR/_ApprovalPop.js
/src/pages/publish/LGHV-UIX-APR/_ApprovalPopDetail.js
/src/pages/publish/LGHV-UIX-APR/_LGHV-UIX-APR-0001-Detail.js
/src/pages/publish/LGHV-UIX-APR/_LGHV-UIX-APR-0001.js
/src/pages/publish/LGHV-UIX-APR/_LGHV-UIX-APR-0002-Detail.js
/src/pages/publish/LGHV-UIX-APR/_LGHV-UIX-APR-0002.js
/src/pages/publish/LGHV-UIX-APR/_LGHV-UIX-APR-0004-Detail.js
/src/pages/publish/LGHV-UIX-APR/_LGHV-UIX-APR-0004.js
/src/pages/publish/LGHV-UIX-APR/component/_ApprovalPopList.js
/src/pages/publish/LGHV-UIX-APR/component/_ApprovalDetailContent.js