.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal > section {
  margin: 0 auto;
  background-color: #fff;
  animation: modal-show 0.3s;
  overflow: hidden;
}
.modal > section.alert-wrap {
  width: 342px;
  height: 160px;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
  font-size: 16px;
}
.modal > section.alert-wrap .btn-group {
  margin-top: 24px;
}
.modal > section.alert-wrap button {
  margin: 0 4px;
}
.modal > section.popup-wrap {
  width: 708px;
  padding: 22px 40px 32px;
}
.modal > section.popup-wrap.sm { width: 464px; }
.modal > section.popup-wrap.lg { width: 952px; }
.modal > section.popup-wrap.xlg { width: 1196px; }
.modal > section.popup-wrap .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  padding-bottom: 10px;
  border-bottom: 2px solid #000000;
}
.modal > section.popup-wrap h3 {
  margin: 0;  
  font-size: 20px;
  font-weight: 500;
  height: 30px;
  line-height: 1.5;
}
.modal > section.popup-wrap .btn-close {
  width: 32px;
  height: 32px;
  background: url('../../../assets/images/common/ico_close.png') no-repeat 0 0;
  font-size: 0;
  cursor: pointer;
}
.modal.openModal {
  display: flex;
  align-items: center;
  animation: modal-bg-show 0.3s;
}
@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/*  조직검색  */
.modal > section.popup-wrap.orgtree {
  height: 740px;  
}
.modal > section.popup-wrap.orgtree .main { overflow-x: hidden; overflow-y: scroll; height: 644px; }
.modal > section.popup-wrap.orgtree .main::-webkit-scrollbar { width: 6px; }
.modal > section.popup-wrap.orgtree .main::-webkit-scrollbar-thumb { border-radius: 4px; background: #cccccc; }
.tree-item .selected { margin-bottom: 10px; }
.tree-item .selected * { margin-right: 5px; }
.tree-item > .tree-content { display: flex; align-items: center; margin-bottom: 5px; }
.tree-item > .tree-content button { margin-right: 5px; padding: 0; width: 20px; height: 20px; border: 1px solid #A5A5A5; background-color: transparent; font-weight: bold; font-size: 14px; cursor: pointer; line-height: 19px; }
.tree-item > .tree-content .item-name { font-size: 16px; cursor: pointer;}
.tree-item > .tree-content .item-name:hover {color: #ED174D;}
.tree-item > .tree-children { padding-left: 20px; border-left: 1px solid #ccc; }
.tree-item input[type='text'] { width: 70%; }
.popup { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); display: flex; align-items: center; justify-content: center; }
.popup-content { background-color: #fff; padding: 20px; border-radius: 8px; }
.close-button { position: absolute; top: 10px; right: 10px; cursor: pointer; background: none; border: none; font-size: 20px; font-weight: bold; }

/* content table */
.popup-table caption {
  border-bottom: 1px solid #000000;
}
.popup-table th, .popup-table td {
  border-bottom: 1px solid #EAEAEA;
  border-right: 1px solid #EAEAEA;
  padding: 8px 12px;
  height: 36px;
  text-align: center;
}
.popup-table th {  
  background-color: #F7F7F7;
}
.popup-table th:last-child, .popup-table td:last-child {
  border-right: none;
}
.popup-table label.hide {
  margin: 0;
  font-size: 0;
  text-indent: 18px;
}