.modal { display: none; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 99; background-color: rgba(0, 0, 0, 0.6); }
.modal > section { margin: 0 auto; background-color: #fff; animation: modal-show 0.3s; overflow: hidden; }
.modal > section.alert-wrap { width: 342px; height: 160px; margin: 0 auto; padding: 40px 0; text-align: center; font-size: 16px; }
.modal > section .btn-group { margin-top: 24px; }
.modal > section button { margin: 0 4px; }
.modal > section.popup-wrap { width: 708px; padding: 22px 40px 32px; }
.modal > section.popup-wrap.sm { width: 464px; }
.modal > section.popup-wrap.lg { width: 952px; }
.modal > section.popup-wrap.xlg { width: 1196px; }
.modal > section.popup-wrap .header { display: flex; justify-content: space-between; margin-bottom: 12px; padding-bottom: 10px; border-bottom: 2px solid #000000; }
.modal > section.popup-wrap h3 { margin: 0; font-size: 20px; font-weight: 500; height: 30px; line-height: 1.5; }
.modal > section.popup-wrap .btn-close { width: 32px; height: 32px; background: url('../../../assets/images/common/ic_close.png') no-repeat 0 0; font-size: 0; cursor: pointer; }
.modal > section.popup-wrap .footer { text-align: center; }
.modal > section.popup-wrap .main textarea { height: 100px; }

.notice-pop { display: flex; position: fixed; top: 50%; left: 50%; width: 960px; flex-wrap: wrap; align-items: center; transform: translate(-50%, -50%);}
.notice-pop.close{ display: none;}
.notice-pop > section { margin: 0 auto 30px; background-color: #fff; animation: modal-show 0.3s; overflow: hidden; }
.notice-pop > section.alert-wrap { width: 342px; height: 160px; margin: 0 auto; padding: 40px 0; text-align: center; font-size: 16px; }
.notice-pop > section .btn-group { margin-top: 24px; }
.notice-pop > section button { margin: 0 4px; }
.notice-pop > section.popup-wrap { width: 464px; padding: 22px 40px 0 32px; border: 1px solid #dbdbdb; }
.notice-pop > section.popup-wrap .header { display: flex; justify-content: space-between; margin-bottom: 12px; padding-bottom: 10px; border-bottom: 2px solid #000000; }
.notice-pop > section.popup-wrap h3 { margin: 0; font-size: 20px; font-weight: 500; height: 30px; line-height: 1.5; }
.notice-pop > section.popup-wrap .btn-close { width: 32px; height: 32px; background: url('../../../assets/images/common/ic_close.png') no-repeat 0 0; font-size: 0; cursor: pointer; }
.notice-pop > section.popup-wrap .footer {text-align: left; background-color: #000; color: #fff; margin: 20px -40px 0; padding: 4px 40px 6px; }
.notice-pop > section.popup-wrap .main textarea { height: 100px; }

/*  조직검색  */
.modal > section.popup1.orgtree { width: 468px; height: 500px; overflow-y: scroll; }
.approval-top { margin-bottom: 16px; padding: 12px 24px; background-color:#f7f7f7; }
.approval-top .line-select{ flex-basis: 60%;}
.approval-top .search-box{ flex-basis: 40%; }
.approval-top .line-select input[type='checkbox'] + label, .line-select input[type='radio'] + label { margin-right: 10px; }
.approval-conts { width: 55%; display: flex; height: 580px; min-height: 580px; padding: 15px 16px; overflow: hidden; border: 1px solid #dbdbdb; border-top: 1px solid #000;}
.tree-wrap { width: 55%; height: 300px; overflow-y: scroll; min-height: inherit; padding-bottom: 30px;}
.approval-conts.alone, .tree-wrap.alone{width: 100%;}
.approval-conts.alone{height: 520px; min-height: 520px;}
.tree-wrap .tree-logo{width: 120px; height: 20px; background: url('../../../assets/images/layout/LGHV_logo_20@2x.png') 0 0 no-repeat; background-size: 100%; z-index: 100; font-size: 0;}
.tree-wrap h3 {font-size: 16px;}
.tree-wrap .tree-conts {overflow: hidden; padding-top: 20px;}
.tree-wrap .tree-conts .logo { position: relative; z-index: 1; }
.tree-item .selected { margin-bottom: 10px; }
.tree-item .selected * { margin-right: 5px; }
.tree-item { position: relative; }
.tree-item > .tree-content { display: flex; align-items: center; padding-bottom: 5px; position: relative; }
.tree-item > .tree-content button { position: relative; margin-right: 10px; padding: 0; width: 13px; height: 13px; background: url('../../../assets/images/common/btn_plus_13.png') 0 0 no-repeat; z-index: 1; }
.tree-item > .tree-content button.open { background: url('../../../assets/images/common/btn_minus_13.png') 0 0 no-repeat; }
.tree-item > .tree-content .item-name { padding-left: 24px; font-size: 14px; line-height: 21px; cursor: pointer; background: url('../../../assets/images/common/ic_folder_16.png') 0 2px no-repeat; z-index: 1; }
.tree-item > .tree-content .item-name.active, .tree-item > .tree-content .item-name:hover { color: #ED174D; }
.tree-item > .tree-content .item-name.not-children { background: url('../../../assets/images/common/ic_file_16.png') -2px 2px no-repeat; }
.tree-item > .tree-children { padding-left: 25px; position: relative; }
.tree-item > .tree-content button::before { content: ""; display: block; position: absolute; left: 13px; top: 6px; width: 10px; height: 1px; background-color: #dbdbdb; }
.tree-item > .tree-content .item-name.not-children::before { content: ""; display: block; position: absolute; left: -19px; top: 10px; width: 19px; height: 1px; background-color: #dbdbdb; }
.tree-item > .tree-content input.item-check[type='checkbox'] + label { text-indent: 0; margin-right: 0; }
.tree-item > .tree-content input.item-check[type='checkbox'] + label:before { left: auto; right: -25px; }
.tree-item.open::before { content: ""; display: block; position: absolute; left: 6px; top: -16px; width: 1px; height: 100%; background-color: #dbdbdb; }
.tree-item.close::before { content: none; }
.list-item { width: 45%; padding: 0; border-right: 1px solid #dbdbdb; height: 300px; overflow-y: scroll; min-height: inherit; background-color: #f7f7f7; }
.list-item ul { list-style: none; }
.list-item ul li { margin: 0 16px; padding: 8px 20px; border-bottom: 1px dotted #dbdbdb; cursor: pointer; display:flex; justify-content: space-between; }
.list-item ul li:first-child{padding: 8px 0; border-bottom:1px solid #dbdbdb ;}
.list-item ul li.active {background: url('../../../assets/images/common/ic_check_set_16.png') -16px 12px no-repeat; }
.list-item ul li span + span { margin-left: 16px; }
.selected-item {width: 45%; padding: 0 0 0 20px;  }
.overflow{height: 300px; overflow-y: scroll;}
.overflow + .overflow { margin-top: 30px; height: 200px; }
/* 아래의 모든 코드는 영역::코드로 사용 */
.tree-wrap::-webkit-scrollbar, .list-item::-webkit-scrollbar, .selected-item::-webkit-scrollbar, .overflow::-webkit-scrollbar {
  width: 6px;  /* 스크롤바의 너비 */
}

.tree-wrap::-webkit-scrollbar-thumb, .list-item::-webkit-scrollbar-thumb, .selected-item::-webkit-scrollbar-thumb, .overflow::-webkit-scrollbar-thumb {
  height: 5%; /* 스크롤바의 길이 */
  background: #a5a5a5; /* 스크롤바의 색상 */
  border-radius: 10px;
}
.tree-wrap::-webkit-scrollbar-track, .list-item::-webkit-scrollbar-track, .selected-item::-webkit-scrollbar-track, .overflow::-webkit-scrollbar-track {
  background: #eaeaea;  /*스크롤바 뒷 배경 색상*/
}
.template-top { margin-bottom: 16px; padding: 12px 24px; background-color:#f7f7f7; }
.template-top label{font-weight: 500; margin-right: 8px;}
.template-top > .flex-wrap{flex: 1;}
.template-top > .flex-wrap + .flex-wrap{flex: 2;}
/*  팝업 레이 아웃   */
.popup { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); display: flex; align-items: center; justify-content: center; }
.popup-content { background-color: #fff; padding: 20px; border-radius: 8px; }
.close-button { position: absolute; top: 10px; right: 10px; cursor: pointer; background: none; border: none; font-size: 20px; font-weight: bold; }
.popup-table caption { border-top: 1px solid #000000; }
.popup-table th, .popup-table td { border-bottom: 1px solid #EAEAEA; border-right: 1px solid #EAEAEA; padding: 8px 12px; height: 36px; text-align: center; }
.popup-table th { background-color: #F7F7F7; }
.popup-table th:last-child, .popup-table td:last-child { border-right: none; }
.popup-table label.hide { margin: 0; font-size: 0; text-indent: 18px; }
.popup-table td.active { color: #ED174D; }
.popup-table.center th, .popup-table.center td{ text-align: center !important;}


.pop-search-wrap{ margin-bottom: 16px; padding: 12px 24px; background-color:#f7f7f7;}
.pop-search-wrap .flex-wrap > .box{ width:25% }
.pop-search-wrap .select-item{width: 80%; margin-left: 20px;}
.modal > section.popup-wrap .table, .modal > section.popup-wrap .search, .modal > section.popup-wrap .search .input-btn-wrap button{ font-size: 12px; }
.modal > section.popup-wrap .search-wrap{padding: 12px;}
.modal > section.popup-wrap .search th { padding: 4px 0 4px 12px; }
.modal > section.popup-wrap .search td { padding: 4px 12px 4px 0; }
.modal > section.popup-wrap .table.result th, .modal > section.popup-wrap .table.result td { padding: 4px 6px; height: auto; }
.modal > section.popup-wrap .selected-item .popup-table.bt{border-top: 1px solid #000;}
.modal > section.popup-wrap .selected-item .popup-table th, .modal > section.popup-wrap .selected-item .popup-table td { text-align: center; cursor: pointer; }
.modal > section.popup-wrap .selected-item .btn-delete { width: 16px; height: 16px; padding: 2px; min-width: 16px; line-height: 16px; }
.modal > section.popup-wrap .selected-item .popup-table td label{ margin-right: 0;}
.modal > section.popup-wrap .selected-item .popup-table .bookmark{padding-left: 20px; background: url('../../../assets/images/common/ic_bookmark_full_16.png') 0 1px no-repeat; }
.modal.openModal { display: flex; align-items: center; animation: modal-bg-show 0.3s; }


@keyframes modal-show {
  from { opacity: 0; margin-top: -50px; }
  to { opacity: 1; margin-top: 0; }
}
@keyframes modal-bg-show {
  from { opacity: 0; }
  to { opacity: 1; }
}
 