@charset "utf-8";
@font-face { font-family: 'Roboto'; font-style: normal; font-weight: 300; src: url('../fonts/Roboto-Light.woff2') format('woff2'), url('../fonts/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light.otf') format('opentype'); unicode-range: U+002C, U+0030-0039, U+002E-002E; }
@font-face { font-family: 'Roboto'; font-style: normal; font-weight: 400; src: url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.otf') format('opentype'); unicode-range: U+002C, U+0030-0039, U+002E-002E; }
@font-face { font-family: 'Roboto'; font-style: normal; font-weight: 500; src: url('../fonts/Roboto-Medium.woff2') format('woff2'), url('../fonts/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium.otf') format('opentype'); unicode-range: U+002C, U+0030-0039, U+002E-002E; }
@font-face { font-family: 'Roboto'; font-style: normal; font-weight: bold; src: url('../fonts/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.otf') format('opentype'); unicode-range: U+002C, U+0030-0039, U+002E-002E; }
@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 300; src: local('@'), url('../fonts/notokr-light.woff2') format('woff2'), url('../fonts/notokr-light.woff') format('woff');  /* url("../fonts/notokr-light.ttf") format("truetype"); */ }
@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 500; src: local('@'), url('../fonts/notokr-medium.woff2') format('woff2'), url('../fonts/notokr-medium.woff') format('woff'), url('../fonts/notokr-medium.ttf') format('truetype'); }
@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 400; src: local('@'), url('../fonts/notokr-regular.woff2') format('woff2'), url('../fonts/notokr-regular.woff') format('woff'), url('../fonts/notokr-regular.ttf') format('truetype'); }
@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: bold; src: local('@'), url('../fonts/notokr-bold.woff2') format('woff2'), url('../fonts/notokr-bold.woff') format('woff'), url('../fonts/notokr-bold.ttf') format('truetype'); }
* { box-sizing: border-box; margin: 0; padding: 0; }
html { -webkit-text-size-adjust: none; }
a, select, button, pre, input, textarea { font-family: inherit; }
button { background-color: unset; border: none; cursor: pointer; }
textarea { overflow-y: auto; }
header, section, article, aside, footer, nav { display: block; }
h1, h2, h3, h4, h5 { font-weight: 500; line-height: 1.1; }
strong, b { font-weight: 700; }
dt, th { font-weight: 500; color: #000; }
caption, legend { height: 0; font-size: 0; line-height: 0; overflow: hidden; }
pre { white-space: pre-wrap; }
fieldset { border: 0; }
li { list-style: none; }
img { max-width: 100%; vertical-align: middle; border: 0; }
a { color: inherit; text-decoration: none; }
em, cite, address, optgroup { font-style: normal; }
table { border-collapse: collapse; border-spacing: 0; width: 100%; }
th, td { box-sizing: border-box; text-align: left; }
body { width: 100%; color: #000; font-weight: 400; font-size: 14px; line-height: 21px; letter-spacing: -0.03em; word-wrap: break-word; overflow-wrap: break-word; font-family: 'Noto Sans KR', 'Malgun Gothic', sans-serif, Arial, Dotum, Gulim, Verdana, Tahoma; overflow-y: scroll; }
header { position: relative; background: #000; letter-spacing: -0.6px; }
.container { display: flex; }
#content { position: relative; clear: both; width: calc(100% - 220px); min-height: calc(100vh - 220px); padding: 0 40px 40px; }
.sidebar.close + #content { width: calc(100% - 64px); }
.content-work-info{ display: flex; justify-content: space-between; border-bottom: 2px solid #000; padding: 10px 0;}
.content-work-info ul li{margin-left: 10px;}
.content-work-info ul li span{margin-left: 5px;}
.content-title { display: flex; justify-content: space-between; border-bottom: 2px solid #000; padding-top: 60px; padding-bottom: 12px; margin-bottom: 40px; }
.content-title h2 { font-size: 24px; font-weight: bold; display: flex; align-items: center }
.content-title h2 span.title-detail { display: inline-block; position: relative; font-size: 18px; color: #ccc; margin-left: 10px; padding-left: 10px; }
.content-title h2 span.title-detail::before { content: ''; display: block; position: absolute; top: 3px; left: 0; width: 2px; height: 14px; background-color: #ccc; }
.breadcrumb { font-size: 12px; }
.breadcrumb a { color: #767676; }
.breadcrumb .home-link{position: relative; margin-right: 24px;}
.breadcrumb .home-link:after { content: ''; display: inline-block; position: absolute; top: 1px; right: -21px; width: 16px; height: 16px; background-image: url('../images/common/ic_black_set_16.png'); background-position: -376px 0; background-repeat: no-repeat; background-size: auto; }
.breadcrumb > span { position: relative; margin-right: 24px; color: #767676; }
.breadcrumb > span:after { content: ''; display: inline-block; position: absolute; top: 1px; right: -21px; width: 16px; height: 16px; background-image: url('../images/common/ic_black_set_16.png'); background-position: -376px 0; background-repeat: no-repeat; background-size: auto; }
.breadcrumb > span:nth-last-of-type(1){margin: 0; color: #000;}
.breadcrumb > span:nth-last-of-type(1):after{content:none;}

.content-section { margin-bottom: 40px; }
.content-section h3 { font-size: 18px; font-weight: 500; line-height: 27px; margin-bottom: 8px; }
.content-row-wrap { display: flex; justify-content: space-between; align-items: flex-start; }
.content-row-wrap table { width: 49%; }
.mt6 { margin-top: 6px !important; }
.mt8 { margin-top: 8px !important; }
.mt20 { margin-top: 20px !important; }
.mb15 { margin-bottom: 15px !important; }
.ml10 { margin-left: 10px !important; }
.ml15 { margin-left: 15px !important; }
.flex-wrap { display: flex; align-items: center; }
.between { justify-content: space-between; }
.align-start { align-items: flex-start; }
.center { text-align: center !important; }
.right { text-align: right; }

/* 입력 요소 */
.input, input, textarea, select, label, button { display: inline-block; vertical-align: middle; font-weight: inherit; font-size: inherit; word-spacing: normal; letter-spacing: inherit; }
.input, input[type='text'], input[type='password'], input[type='tel'], input[type='number'], textarea, select { border: 1px solid #dbdbdb; height: 28px; width: 100%; padding: 3px 12px 3px; background-color: #fff; }
input:focus-visible, select:focus-visible { outline: none; }
input:focus, select:focus { border-color: #000; }
.input-clear-wrap { position: relative; }
.input-clear-wrap .clear-search-button { display: inline-block; position: absolute; top: 4px; right: 12px; width: 16px; height: 16px; background-image: url('../images/common/ic_white_set_16.png'); background-color: #a5a5a5; background-position: -304px 0; background-repeat: no-repeat; background-size: auto; font-size: 0; border: 0; border-radius: 10px; }
input:disabled { background-color: #f7f7f7; color: #dbdbdb; }
input:read-only { background-color: #f7f7f7; }
input[type='text']::placeholder, input[type='password']::placeholder, input[type='tel']::placeholder, input[type='number']::placeholder, textarea::placeholder, select::placeholder { color: #959595; }
input.error { border-color: #e72323; }
.search-error-msg { color: #e72323; display: none; }
select { appearance: none; -webkit-appearance: none; -moz-appearance: none; background-image: url('../images/common/ic_select.png'); background-position: calc(100% - 10px) 6px; background-repeat: no-repeat; background-size: auto; }
select::-ms-expand { display: none; }
select[disabled] { background-image: url('../images/common/ic_select_disable.png'); background-color: #F7F7F7; color: #959595; }
select[readOnly] { background-image: url('../images/common/ic_select_disable.png'); background-color: #F7F7F7; }
select + select{margin-left: 8px;}
select.type-t{ border: 0; padding: 0; padding-right: 16px; width: auto; background-position-x: 100%;}
.search .service.select-wrap { display: flex; justify-content: space-between; }
.detail.select-wrap { display: inline-block; width: 240px; }
.textarea { height: 206px; overflow-y: auto; }
.textarea::-webkit-scrollbar { width: 6px; }
.textarea::-webkit-scrollbar-thumb { border-radius: 4px; background: #cccccc; }
.react-datepicker-wrapper { position: relative; width: 100%; }
.react-datepicker-wrapper:before { content: ''; z-index: 1; display: inline-block; position: absolute; top: 1px; right: 32px; width: 1px; height: 27px; background-color: #dbdbdb; }
.react-datepicker-wrapper:after { content: ''; display: inline-block; position: absolute; top: 6px; right: 8px; width: 16px; height: 16px; background-image: url('../images/common/ic_black_set_16.png'); background-position: -664px 0; background-repeat: no-repeat; background-size: auto; }
.react-datepicker__tab-loop { width: 230px; position: absolute; }
input[type='checkbox'], input[type='radio'] { position: absolute; left: -9999px; width: 1px; height: 1px; font-size: 0; line-height: 0; overflow: hidden; }
input[type='checkbox'] + label, input[type='radio'] + label { position: relative; min-width: 18px; min-height: 18px; text-indent: 25px; }
input[type='checkbox'] + label, input[type='radio'] + label { margin-right: 20px; }
input[type='checkbox'] + label:before, input[type='radio'] + label:before { display: inline-block; content: ''; position: absolute; top: 1px; left: 0; width: 18px; height: 18px; border: 0; border-radius: 0; background: url('../images/common/checkbox.png') no-repeat; }
input[type='radio'] + label:before { background: url('../images/common/radio.png') no-repeat; }
input[type='checkbox'] + label:before, input[type='radio'] + label:before { background-position: 0 -26px; }
input[type='checkbox']:checked + label:before, input[type='radio']:checked + label:before { background-position: -161px -26px; }
input[type='checkbox'][disabled] + label:before, input[type='radio'][disabled] + label:before { background-position: -330px -26px; }
input[type='checkbox']:checked[readOnly] + label:before, input[type='radio']:checked[readOnly] + label:before { background-position: -492px -26px; }
input[type='radio'] + label.type-btn{ height: 28px; font-size: 12px; text-align: center; margin-right: 0; padding: 5px 7px 4px; color: #959595;
     border-top: 1px solid #a5a5a5; border-bottom: 1px solid #a5a5a5; border-left: 1px solid #a5a5a5; background-color: #fff; text-indent: unset; line-height: 18px;}
input[type='radio'] + label.type-btn:last-of-type{border-right:1px solid #a5a5a5 ;}
input[type='radio']:checked + label.type-btn{color: #ed174d; border: 1px solid #ed174d; background-color:#fef6f8;}
input[type='radio']:checked + label.type-btn + input[type='radio'] + label.type-btn{border-left:0;}
input[type='radio'] + label.type-btn:before{content: none;}
.input-group.file-attach > span {margin-left: 4px;}

/* 버튼 */
.btn { display: inline-block; text-align: center; vertical-align: middle; white-space: nowrap; word-spacing: normal; text-decoration: none !important; overflow: hidden; height: 26px; padding: 0 12px; border: 1px solid #000; color: #000; font-size: 14px; line-height: 26px; letter-spacing: inherit; background-color: #fff; box-sizing: content-box; cursor: pointer; }
.btn:hover, .btn:focus { background-color: #F7F7F7; }
.btn[disabled] { border-color: #DBDBDB; background-color: #ffffff; color: #959595; }
.btn-primary { border-color: #ED174D; background-color: #ED174D; color: #ffffff; }
.btn-primary:hover, .btn-primary:focus { border-color: #A50034; background-color: #A50034; }
.btn-primary[disabled] { background-color: #F68BA6; color: #ffffff }
.btn-black { background-color: #000000; color: #ffffff; }
.btn-black:hover, .btn-black:focus { background-color: #ED174D; border-color: #ED174D; }
.btn-black[disabled] { background-color: #F7F7F7; border-color: #F7F7F7; color: #959595; }
.btn-low { border: 1px solid #A5A5A5; color: #5A5A5A; }
.btn-low:hover, .btn-low:focus { background-color: #F7F7F7; }
.btn-low[disabled] { border: 1px solid #DBDBDB; background-color: #ffffff; color: #959595; }
.btn-lg { min-width: 64px; height: 36px; padding: 0 16px; font-size: 16px; text-align: center; }
.btn-md { height: 22px; padding: 0 8px; font-size: 12px; line-height: 18px; }
.btn-sm { min-width: 24px; height: 18px; padding: 0 8px; font-size: 12px; }
.btn-txt { width: 26px; height: 22px; font-size: 14px; line-height: 21px; color: #000000; position: relative; }
.btn-txt:after { content: ''; display: block; position: absolute; top: 3px; right: -20px; width: 16px; height: 16px; background-image: url('../images/common/ic_black_set_16.png'); background-position: -304px 0; background-repeat: no-repeat; background-size: auto; }
.btn-txt:hover { color: #ED174D; }
.btn-txt:hover:after { background-position: -448px 0; }
.btn-txt[disabled] { color: #959595; }
.btn-txt[disabled]:after { background-position: -520px 0; }
.btn-exel{position: relative; padding-left: 28px; }
.btn-exel::before{content: ''; display: block; position: absolute; top: 3px; left: 7px; width: 16px; height: 16px; background-image: url('../images/common/ic_black_set_16.png'); background-position: -809px 1px; background-repeat: no-repeat; background-size: auto;}
.react-datepicker__close-icon { right: -65px !important; }
.react-datepicker__close-icon:after { overflow: hidden; min-width: 45px; height: 28px !important; background-color: transparent !important; font-size: 0 !important; }
.btn-tooltip { display: inline-block; width: 24px; height: 24px; background-image: url('../images/common/ic_black_set_24.png'); background-position: -588px 0; background-repeat: no-repeat; background-size: auto; font-size: 0; margin-left: 2px; }
.btn-up { display: inline-block; width: 16px; height: 16px; background-image: url('../images/common/ic_black_set_16.png'); background-position: -16px 0; background-repeat: no-repeat; background-size: auto; font-size: 0; margin-left: 2px; }
.btn-down { display: inline-block; width: 16px; height: 16px; background-image: url('../images/common/ic_black_set_16.png'); background-position: -88px 0; background-repeat: no-repeat; background-size: auto; font-size: 0; margin-left: 2px; }
.btn-fold{display: inline-block; width: 26px; height: 26px; min-width: auto; padding: 0; background-image: url('../images/common/ic_black_set_16.png'); background-position: -11px 5px; background-repeat: no-repeat; background-size: auto; font-size: 0; margin-left: 2px;}
.btn-fold.close{ transform: rotate(180deg);}
.btn-fold.hide{display: none;}
.btn-pop{padding-left: 36px; background:#ffffff url('../images/common/ic_popup_16.png') 12px 5px no-repeat; background-size: auto;}
.btn-md.btn-pop {padding-left: 24px; position: relative; background: none;}
.btn-md.btn-pop:before{content:''; background:url('../images/common/ic_black_set_12.png') -36px 0 no-repeat; background-size: auto; width: 12px; height: 12px; position: absolute; top: 5px; left: 7px;}
.btn-print{padding-left: 36px; background:#ffffff url('../images/common/ic_print_16.png') 12px 5px no-repeat; background-size: auto;}
.btn-ref{padding-left: 36px; background:#ffffff url('../images/common/ic_refresh_16.png') 12px 4px no-repeat; background-size: auto; border: 1px solid #5a5a5a; color: #5a5a5a;}
.btn-temp{padding-left: 36px; background:#ffffff url('../images/common/ic_tem_save_16.png') 12px 4px no-repeat; background-size: auto; border: 1px solid #5a5a5a; color: #5a5a5a;}
.btn-list{padding-left: 36px; background:#ffffff url('../images/common/ic_list_16.png') 12px 4px no-repeat; background-size: auto; border: 1px solid #5a5a5a; color: #5a5a5a;}
.btn-search{width: 26px; height: 26px; min-width: auto; position: relative; padding: 0; font-size: 0; background-color: #000000;}
.btn-search:before {content: ''; width: 16px; height: 16px; position: absolute; top: 5px; left: 5px; background:url('../images/common/ic_search_set_16.png') 0 0 no-repeat; background-size: auto;}
.btn-search:hover { background-color: #ed174d; border-color: #ed174d;}
.btn-search-txt{padding: 0 18px 0 36px; background-color:#000000; color:#ffffff; position: relative;}
.btn-search-txt:before {content: ''; width: 16px; height: 16px; position: absolute; top: 5px; left: 10px; background:url('../images/common/ic_search_set_16.png') 0 0 no-repeat; background-size: auto;}
.btn-add {padding-left: 32px; position: relative; }
.btn-add:before{content:''; background:url('../images/common/ic_plus_minus_black_16.png') 0 0 no-repeat; background-size: auto; width: 16px; height: 16px; position: absolute; top: 5px; left: 11px;}
.btn-md.btn-add {padding-left: 24px; position: relative; }
.btn-md.btn-add:before{content:''; background:url('../images/common/ic_black_set_12.png') 0 0 no-repeat; background-size: auto; width: 12px; height: 12px; position: absolute; top: 5px; left: 7px;}
.btn-apv-save {padding-left: 24px; position: relative; }
.btn-apv-save:before{content:''; background:url('../images/common/ic_black_set_12.png') -48px 0 no-repeat; background-size: auto; width: 12px; height: 12px; position: absolute; top: 5px; left: 7px;}
.btn-reg {padding-left: 24px; position: relative; }
.btn-reg:before{content:''; background:url('../images/common/ic_black_set_12.png') -60px 0 no-repeat; background-size: auto; width: 12px; height: 12px; position: absolute; top: 5px; left: 7px;}
.btn-reg-er {padding-left: 24px; position: relative; border-color: #ed174d; color: #ed174d;}
.btn-reg-er:before{content:''; background:url('../images/common/ic_black_set_12.png') -60px 0 no-repeat; background-size: auto; width: 12px; height: 12px; position: absolute; top: 5px; left: 7px;}
.btn-copy {padding-left: 24px; position: relative; }
.btn-copy:before{content:''; background:url('../images/common/ic_black_set_12.png') -12px 0 no-repeat; background-size: auto; width: 12px; height: 12px; position: absolute; top: 5px; left: 7px;}
.btn-del {padding-left: 24px; position: relative; }
.btn-del:before{content:''; background:url('../images/common/ic_black_set_12.png') -24px 0 no-repeat; background-size: auto; width: 12px; height: 12px; position: absolute; top: 5px; left: 7px;}
.btn-plus-28{background:url('../images/common/ic_black_set_28.png') 0 0 no-repeat; background-size: auto; width: 28px; height: 28px; font-size: 0; line-height: 0; border: none; padding: 0;}
.btn-minus-28{background:url('../images/common/ic_black_set_28.png') -28px 0 no-repeat; background-size: auto; width: 28px; height: 28px; font-size: 0; line-height: 0; border: none; padding: 0;}
.btn-check-28{background:url('../images/common/ic_black_set_28.png') -56px 0 no-repeat; background-size: auto; width: 28px; height: 28px; font-size: 0; line-height: 0; border: none; padding: 0;}
.btn-del-28{background:url('../images/common/ic_black_set_28.png') -84px 0 no-repeat; background-size: auto; width: 28px; height: 28px; font-size: 0; line-height: 0; border: none; padding: 0;}
.react-datepicker__close-icon { right: -65px !important; }
.react-datepicker__close-icon:after { overflow: hidden; min-width: 45px; height: 28px !important; background-color: transparent !important; font-size: 0 !important; }
.btn-wrap .btn + .btn{margin-left: 8px;}

/* 아이콘 */
.ico_attach {text-decoration: underline; position: relative; padding-left: 28px;}
.ico_attach:before {content:''; width: 24px; height: 24px; background:url('../images/common/ic_attach_24.png') 0 0 no-repeat; background-size: auto; position: absolute; top: -1px; left: 0; }

/* 목록, 블릿 */
.list-primary { margin-top: 8px; }
.list-primary li { position: relative; padding-left: 8px; color: #ED174D; font-size: 12px; line-height: 18px; }
.list-primary li:before { content: ''; position: absolute; top: 7px; left: 0; width: 4px; height: 4px; background-color: #ED174D; }
.list-desc {margin-top: 8px;}
.list-desc li {margin-bottom: 4px; padding-left: 8px; color: #333333; font-size: 12px; line-height: 18px; position: relative;}
.list-desc li:before {content: ''; position: absolute; top: 7px; left: 0; width: 4px; height: 4px; background-color: #333333; }
.list-desc li.color-primary:before {background-color: #ed174d; }
.list-desc li:last-child {margin-bottom: 0;}

/* 글꼴, 색상 */
.color-primary { color: #ed174d !important; }
.color-default { color: #000 !important; }
.color-gray { color: #767676; }
.color-white { color: #fff; }
.color-error, .color-fail { color: #E72323; }
.color-warning, .color-ongoing { color: #f78809; }
.color-success { color: #1ea51e; }
.color-info, .color-order { color: #2C68FF; }

.size-sm { font-size: 12px; line-height: 21px; }
.size-lg { font-size: 16px; line-height: 21px; }
.link:focus, .link:hover { color: #ed174d !important; border-bottom: 1px solid #ed174d; }

/* 검색결과 페이지보기 */
.result-pageview { margin-bottom: 8px; display: flex; align-items: center; justify-content: space-between; }
.result-pageview .total-view { margin-right: 8px; font-size: 12px; }
.result-pageview .select-wrap{ position: relative;}
.result-pageview .select-wrap::before{content:''; display: block; position: absolute; left: 0; top: 5px; width: 1px;height: 12px; background-color: #dbdbdb;}
.result-pageview .select-wrap select { width: 96px; height: 24px; padding: 3px 8px; background-position: 80px 4px; font-size: 12px; font-weight: 700; border: 0; vertical-align: baseline; }

/* 페이징 */
.pagination { margin-top: 30px; font-size: 0; text-align: center; }
.pagination > * { vertical-align: top; }
.pagination a, .pagination strong { display: inline-block; min-width: 24px; height: 24px; margin: 0 4px; text-align: center; font-size: 14px; text-decoration: none; }
.pagination strong { color: #ed174d; text-decoration: underline; }
.pagination .first { font-size: 0; margin: 0 2px; background-image: url(../images/common/ic_black_set_24.png); background-position: -300px 0; }
.pagination .prev { font-size: 0; background-image: url(../images/common/ic_black_set_24.png); background-position: -12px 0; }
.pagination .next { font-size: 0; background-image: url(../images/common/ic_black_set_24.png); background-position: -156px 0; }
.pagination .last { font-size: 0; margin: 0 2px; background-image: url(../images/common/ic_black_set_24.png); background-position: -444px 0; }
.pagination .first[aria-disabled] { background-position: -372px 0; }
.pagination .prev[aria-disabled] { background-position: -84px 0; }
.pagination .next[aria-disabled] { background-position: -228px 0; }
.pagination .last[aria-disabled] { background-position: -516px 0; }

/* footer */
.new_footer { margin: 40px -40px 0; }
#footer { position: relative; border-top: 1px solid #dbdbdb; text-align: center; padding: 20px 0 0 0; }
#footer .address-area { position: relative; width: 1440px; margin: 0 auto; color: #000; }
#footer .address-area p { font-style: normal; font-weight: 400; font-size: 12px; line-height: 26px; color: #000; }
#footer .policy-area { display: flex; align-items: center; justify-content: space-between; max-width: 1440px; margin: 0 auto; border-bottom: 0; }
#footer .policy-area .policy-menu li { font-size: 12px; line-height: 26px; }
#footer .address-area { padding: 0 0 0 138px; }
#footer .ci-logo { top: 0; }
#footer .address-area p { font-style: normal; font-weight: 400; font-size: 12px; line-height: 18px; color: #000; }
#footer .address-area p span { display: inline-block; position: relative; padding-right: 10px; margin-right: 10px; }
#footer .address-area p span:not(:last-child):after { content: ''; display: block; position: absolute; top: 9px; right: 0; width: 1px; height: 10px; background-color: #a9a9a9; }
#footer .address-area p span.last-line { margin-right: 0; }
#footer .address-area p span.last-line:after { display: none; }

/*  헤더  */
.header-wrap { position: relative; height: 48px; margin: 0 auto; color: #fff; display: flex; align-items: center; padding: 14px 40px 13px 16px; }
.header-wrap .logo { width: 140px; }
.header-wrap .user-info { color: #fff; display: flex; justify-content: flex-end; align-items: center; width: calc(100% - 140px); font-size: 14px; line-height: 21px; }
.header-wrap .user-info .user { position: relative; margin-right: 16px; padding-right: 16px; }
.header-wrap .user-info .user::after { content: ''; display: block; position: absolute; right: 0; top: 6px; width: 1px; height: 12px; background-color: #fff; }
.header-wrap .user-info .user span { margin-left: 4px; }
.header-wrap .user-info .logout-btn { color: #fff; padding-left: 24px; position: relative; }
.header-wrap .user-info .logout-btn::before { content: ''; display: block; position: absolute; left: 0; top: -2px; width: 24px; height: 24px; background-image: url('../images/common/ic_logout_white_24.png'); }

/* 레프트 메뉴  */
.sidebar { background-color: #000; width: 64px; transition: transform 0.3s ease-in-out; color: #fff; }
.sidebar.open { width: 220px; transition: transform 0.3s ease-in-out; }
.sidebar.closed { width: 64px; transition: transform 0.3s ease-in-out; }
.sidebar-toggle { display: flex; align-items: center; justify-content: space-between; width: 100%; padding: 31px 16px 30px; border-top: 1px solid #333; border-bottom: 2px solid #333; text-align: left; }
.sidebar-toggle span { display: none; transition: opacity 0.3s ease; opacity: 0; }
.sidebar.open .sidebar-toggle span { display: inline-block; opacity: 1; font-size: 18px; line-height: 27px; font-weight: 700; text-align: left; color: #fff; }
.toggle-button { display: block; width: 32px; height: 32px; background-image: url('../images/common/lnb/ic_lnb_close_32.png'); }
.menu-level-1 { list-style-type: none; padding: 0; margin: 0; color: #fff; }
.menu-item-level-1 { position: relative; }
.menu-level-1 .toggle-button-level-1, .menu-level-2 { display: none; transition: opacity 0.3s ease; opacity: 0; }
.sidebar.open .toggle-button-level-1, .sidebar.open .menu-level-2 { opacity: 1; display: block; }
.sidebar.open .menu-item-level-1.active .menu-level-2 { background-color: rgba(255, 255, 255, 0.1); }
.sidebar.open .menu-item-level-1 .toggle-button-level-1 { width: 100%; padding: 16px 0 16px 60px; text-align: left; }
.sidebar.close .menu-item-level-1 { height: 56px; }
.sidebar.close .toggle-button { background-image: url('../images/common/lnb/ic_lnb_open_32.png'); }
.menu-item-level-1.active .toggle-button-level-1, .sidebar.close .menu-item-level-1.active, .menu-item-level-1 .toggle-button-level-1:hover { background-color: #ed174d; }
.menu-item-level-1::before { content: ''; display: block; width: 32px; height: 32px; position: absolute; top: 12px; left: 16px; }
.menu-item-level-1:nth-child(1)::before { background-image: url('../images/common/lnb/ic_lnb1_32.png'); }
.menu-item-level-1:nth-child(2)::before { background-image: url('../images/common/lnb/ic_lnb2_32.png'); }
.menu-item-level-1:nth-child(3)::before { background-image: url('../images/common/lnb/ic_lnb3_32.png'); }
.menu-item-level-1:nth-child(4)::before { background-image: url('../images/common/lnb/ic_lnb4_32.png'); }
.menu-item-level-1:nth-child(5)::before { background-image: url('../images/common/lnb/ic_lnb5_32.png'); }
.menu-item-level-1:nth-child(6)::before { background-image: url('../images/common/lnb/ic_lnb6_32.png'); }
.menu-item-level-1:nth-child(7)::before { background-image: url('../images/common/lnb/ic_lnb7_32.png'); }
.menu-item-level-1:nth-child(8)::before { background-image: url('../images/common/lnb/ic_lnb8_32.png'); }
.toggle-button-level-1 { display: inline-block; cursor: pointer; color: #fff; font-size: 16px; line-height: 24px; }
.menu-item-level-1.active .toggle-button-level-1 { font-weight: bold; }
.menu-level-2 { list-style-type: none; padding: 0; margin: 0; text-align: center; }
.menu-item-level-2 { text-align: left; position: relative; }
.menu-item-level-2-link { display: inline-block; width: 100%; padding: 10px 0 10px 60px; }
.menu-item-level-2.active::before { content: ''; display: block; position: absolute; left: 40px; top: 20px; width: 8px; height: 2px; background-color: #fff; }
.menu-item-level-2.active .menu-item-level-2-link { font-weight: bold; }
.main-page { display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh; }
.login-container { border: 1px solid #ccc; padding: 20px; width: 600px; margin: 0 auto; box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); border-radius: 5px; }
.login-container h2 { text-align: center; margin-bottom: 20px; color: #333; }
.login-form { display: flex; flex-direction: column; gap: 10px; }
.login-form label { color: #555; }
.login-form input { padding: 8px; border: 1px solid #ccc; border-radius: 3px; }
.login-form button { background-color: #007bff; color: #fff; padding: 8px; border: none; border-radius: 3px; cursor: pointer; font-size: 16px; transition: background-color 0.2s ease; }
.login-form button:hover { background-color: #0056b3; }

/* table */
.over-flow-x { max-width: 1600px; overflow-x: scroll; }
.table caption { border-top: 1px solid #000000; }
.table th { background-color: #f7f7f7; padding: 13px 12px; line-height: 21px; }
.table th, .table td { border-bottom: 1px solid #EAEAEA; border-right: 1px solid #EAEAEA; padding: 6px 12px; text-align: center; }
.table.table-row th, .table.table-row td { text-align: left; }
.table th:last-child, .table td:last-child { border-right: none; }
.table th:last-child.bd-right, .table td:last-child.bd-right { border-right: 1px solid #EAEAEA !important; }
.table td dl dt, .table td dl dd { padding: 8px 12px; height: 45px; border-bottom:1px solid #EAEAEA ; }
.table td dl dt { width: 10%; background-color: #f7f7f7; }
.table td dl dd { width: 90%; text-align: left; }
.non-pading { padding: 0 !important; border-bottom: 0 !important; }
.result-nodata { width: 100%; height: 160px; padding-top: 29px; text-align: center; }
.result-nodata i { display: block; width: 64px; height: 64px; margin: 0 auto 16px; background-image: url('../images/common/ic_nodata.png'); background-position: 0 0; background-size: auto; background-repeat: no-repeat; }
.approval-result-none { padding: 50px; background-color: #d9d9d9; text-align: center; }
.flex-wrap .half{ width: 49%;}
/* search */
.search-wrap { background-color: #f7f7f7; padding: 12px 24px; }
.search-wrap .title { }
.search-wrap .title h3 { margin-bottom: 0; }
.search-wrap .toggle-box  { border-top: 1px solid #000; margin: 12px 0 0 0; padding-top: 6px; }
.search-wrap .toggle-box .btn-wrap { border-top: 1px solid #dbdbdb; margin-top: 4px; padding-top: 12px; }
.search th { padding: 8px 0 8px 20px; }
.search td { padding: 8px 20px 8px 0; }
.search .react-datepicker-wrapper input, .input-btn-wrap .react-datepicker-wrapper, .input-btn-wrap .react-datepicker-wrapper input { width: 100%; }
.search .datepickers-wrap, .input-btn-wrap { display: flex; align-items: center; justify-content: space-between; flex: 1; }
.search .datepickers-wrap > span { display: block; width: 48%; }
.search .radiobtn-wrap{margin-left: 5px;}
.input-btn-wrap button { margin-left: 4px; }
.input-btn-wrap .input-plus-front { width: calc(100% - 64px); }
.input-btn-wrap .input-search-front { width: calc(100% - 32px); }
.search-btn-wrap { margin-top: 8px; text-align: right; }
.btn-set-option { margin-bottom: 10px; display: flex; justify-content: space-between; }
.detail-top-btn-group { height: 60px; padding: 16px; margin-top: -40px; margin-bottom: 24px; text-align: right; background-color: #F7F7F7; position: relative; }
.detail-top-btn-group button { margin-left: 8px; }
.detail-top-btn-group .noti{position: absolute; left: 16px; font-size: 12px;}
.detail-bottom-btn-group { margin-top: -16px; text-align: right; }
.detail-bottom-btn-group button { margin-left: 8px; }

.device-list{margin-top: 40px;}
.device-list select{ font-size: 12px;}

/* toogle-box */

.toggle-box{ visibility: visible; height: auto; opacity: 1; transition: all 0.1s ease-out;}
.toggle-box.hide {visibility: hidden;  height: 0; opacity: 0; padding: 0; margin: 0; }
.under-line{ border-bottom:1px solid #dbdbdb;}

/* tooltip */
.tooltip-area { display: flex; }
.tooltip-wrap { position: relative; }
.tooltip { display: none; position: absolute; top: -55px; left: 50px; width: 500px; z-index: 1; background-color: #ffffff; padding: 20px; border-radius: 5px; box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); }
.tooltip-wrap:hover > .tooltip, .tooltip-wrap:active > .tooltip { display: block; }

/* tab */
.tabs-container { margin-top: 40px; }
.tabs-wrap { display: flex; flex-direction: row; border: 1px solid #ccc; border-radius: 4px; overflow: hidden; }
.tab { flex: 1; padding: 10px 20px; text-align: center; cursor: pointer; transition: background-color 0.3s ease; }
.tab.active { background-color: #000; color: #fff; }
.tab:not(.active):hover { background-color: #f0f0f0; }
.tabs-container { margin-top: 40px; }
.tabs-wrap { display: flex; flex-direction: row; border: 1px solid #ccc; border-radius: 4px; overflow: hidden; }
.tab { flex: 1; padding: 10px 20px; text-align: center; cursor: pointer; transition: background-color 0.3s ease; }
.tab.active { background-color: #000; color: #fff; }
.tab:not(.active):hover { background-color: #f0f0f0; }
.tab-content { padding: 40px 0; }

/* date picker */
.react-datepicker { font-family: "Helvetica Neue", helvetica, arial, sans-serif; font-size: 0.8rem; background-color: #fff; color: #000; border: 1px solid #dbdbdb; border-radius: 0; display: inline-block; position: relative; }
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before, .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after { border-top: none; border-bottom-color: #fff; }
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before { top: -1px; border-bottom-color: #dbdbdb; }
.react-datepicker__header { background-color: #fff; border: 0; }
.react-datepicker__year-read-view--down-arrow, .react-datepicker__month-read-view--down-arrow, .react-datepicker__month-year-read-view--down-arrow, .react-datepicker__navigation-icon::before { border-color: #000; border-style: solid; border-width: 2px 2px 0 0; content: ""; display: block; height: 7px; position: absolute; top: 8px; width: 7px; }
.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected { border-radius: 0; background-color: #ed174d; color: #fff; }
.react-datepicker__day--selected:hover, .react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover, .react-datepicker__month-text--selected:hover, .react-datepicker__month-text--in-selecting-range:hover, .react-datepicker__month-text--in-range:hover, .react-datepicker__quarter-text--selected:hover, .react-datepicker__quarter-text--in-selecting-range:hover, .react-datepicker__quarter-text--in-range:hover, .react-datepicker__year-text--selected:hover, .react-datepicker__year-text--in-selecting-range:hover, .react-datepicker__year-text--in-range:hover { background-color: #ed174d; color: #fff; }
.react-datepicker__day--keyboard-selected:hover, .react-datepicker__month-text--keyboard-selected:hover, .react-datepicker__quarter-text--keyboard-selected:hover, .react-datepicker__year-text--keyboard-selected:hover { background-color: #ed174d; }
.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range { border-radius: 0; background-color: #ed174d; color: #fff; }
.react-datepicker__week .react-datepicker__day:first-child { color: #ed174d; }
.react-datepicker__week .react-datepicker__day:first-child.react-datepicker__day--selected { color: #fff; }
