.time-select{ display: flex; flex-wrap: wrap; width: 40px; justify-content: center; margin: 0 5px;}
.time-select input{width: 34px; padding: 0 !important; text-align: center;}
.work-content .btn-wrap{text-align: right; margin-bottom: 20px;}